/* body should remove all margin and padding
main should set the padding to 16 pixels
footer should set the top and bottom padding to 24 pixels and the left and right padding to 0 pixels
img should have a height of 200 pixels
nav should have a black, 1-pixel bottom border and padding all the way around of 16 pixels */

body {
    margin: 0;
    padding: 0
}

main {
    padding: 16px
}

footer {
    background-color: #B4CF66;
    padding: 24px 0px 24px 24px
}

img {
    height: 200px
}

nav {
    background-color: #FF5A33;
    color: white;
    border-bottom: 1px solid black;
    padding: 16px;
}

/* .header {
    color: rgba(255, 255, 255, 0.843)
} */

h1 {
    color: green
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

/* table {
    background-color: white
} */

tbody tr:nth-child(2n) {
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: white;
}

.recipe_names {
    color: green;
}
